$uchicago-marron: #800000;
$uchicago-light-gray: #D6D6CE;
$uchicago-dark-gray: #767676;

body {
    background-color: $uchicago-light-gray;
    color: $uchicago-marron
}

.header {
    background-color: $uchicago-light-gray;
    color: $uchicago-marron;
}

.footer {
    background-color: $uchicago-dark-gray;
    color: $uchicago-light-gray;
}