#table_1 {
    border-collapse: collapse;
    font-family: "Tac One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

td,th {
    border: 1px solid black;
    padding: 10px 20px;
  }

  /* Styling the anchor link */
a.special-link {
    text-decoration: none; /* Removes underline */
    color: #3f11ac;
}

a.special-link:visited {
    color: #009900;
}

a.special-link:hover {
    color: #FF0000;
}

/* Ordered list styles */
.a {
    list-style-type: lower-roman; /* Lower case roman numerals */
}

.b {
    list-style-type: lower-alpha; /* Lower case letters */
}

/* Unordered list with squares */
.c {
    list-style-type: square; /* Square bullets */
}

/* Unordered list with dollar signs */
.d {
    list-style-type: "$ ";
}



/* Styling the first letter of every list item */
.a li::first-letter {
    font-size: 120%; /* Larger size */
    font-weight: bold; /* Bold text */
    color: maroon;
}
