body{
    background-color:black;
    color:#4dff00;
    font-family:'Lucida Console', 'Consolas', monospace;
    margin:10px;
    padding:20px;
}


h1, h2 {
    color: #00ffff;
}

p, li {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #e07ba5;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #bca8dd46;
}


pre {
    color: #FFD700;
}